<% layout('/layouts/boilerplate') -%>
   
  <div class="row">
     <div class ="col-8 offset-2">

<h1>Edit the details</h1>

     <form method="post" action="/listings/<%=list.id%>?_method=PUT" novalidate class="needs-validation">

    
        <div class="mb-3" >
            <label for="title" class="form-label">Title</label>

            <input type="text" name="title"  
            class="form-control"     value="<%=list.title%>" required>

            <div class="valid-feedback">
               Title Looks good!
             </div>
             <div class="invalid-feedback">
                Title should be valid!
             </div>
        </div>
    
       
     
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>

            <textarea name="description" class="form-control" cols="30" rows="3"  required ><%= list.description%>"</textarea>   

            <div class="valid-feedback">
               Description Looks good!
             </div>
             <div class="invalid-feedback">
               Description should be valid!
             </div>
           
         </div>

  
     
         <div class="mb-3">
            <label for="image"class="form-label"> Image</label>

            
      <input type="text" name="image" class="form-control" value="URL" required>

      <div class="valid-feedback">
         Image looks good!
        </div>
        <div class="invalid-feedback">
            Image is required!
        </div>
         </div>


     
         <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
    
                <input type="number" class="form-control" name="price" value="<%=list.price%>" required>

                <div class="valid-feedback">
                  Price Looks good!
                 </div>
                 <div class="invalid-feedback">
                    Price should be valid!
                 </div>

                </div>

                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
    
                    <input type="text" name="country" class="form-control" value="<%= list.country%>" required >
                   
                    <div class="valid-feedback">
                     Country name Looks good!
                   </div>
                   <div class="invalid-feedback">
                     Country name should be valid!
                   </div>
                  </div>
            
             </div>

      
     
             <div class="mb-3"> 
                <label for="location" class="form-label">Location</label>
    
                <input type="text" name="location" class="form-control" value="<%= list.location%>" required>

                <div class="valid-feedback">
                  Location Looks good!
                </div>
                <div class="invalid-feedback">
                   Location should be valid!
                </div>
                
                </div>
            
        

      <button  class="btn  btn-dark edit-btn"> update changes</button>

    </form>

    </div>
    </div>
      
    
